# Please make sure you install the latest version of spirit-gpu
# Check released versions on https://github.com/datastone-spirit/spirit-gpu/releases
spirit-gpu
bitsandbytes >= 0.45.0
aiohttp >= 3.9.1
vllm
