// 全局混入

// 限制一行
@mixin text-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// 限制多行
@mixin ellipsis-rows($lines) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $lines;
	overflow: hidden;
	text-overflow: ellipsis;
}

// 禁止选中
@mixin no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// 禁止拖拽
@mixin no-drag {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-select: none;
}

// 谷歌滚动条样式
@mixin google-scrollbar($width: 5px, $thumb-color: #a6a6a6, $track-color: #f3f3f3) {
	scrollbar-gutter: stable;
	// 基本滚动条宽度
	&::-webkit-scrollbar {
		width: $width; // 垂直滚动条宽度
		height: $width; // 水平滚动条高度
	}

	// 滚动条滑块
	&::-webkit-scrollbar-thumb {
		background-color: $thumb-color; // 滚动条滑块颜色
		border-radius: 10px; // 滚动条滑块圆角
		border: 2px solid transparent;
	}

	// 滚动条轨道
	&::-webkit-scrollbar-track {
		background: $track-color; // 滚动条轨道颜色
		border-radius: 10px; // 滚动条轨道圆角
	}

	// 当鼠标悬停时，改变滑块颜色
	&::-webkit-scrollbar-thumb:hover {
		background-color: #8b8b8b; // 悬停时变亮
	}
}
