:root {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body,
html {
	-webkit-font-smoothing: unset !important;
	font-family:
		-apple-system,
		system-ui,
		Segoe UI,
		Roboto,
		Ubuntu,
		Cantarell,
		Noto Sans,
		sans-serif,
		BlinkMacSystemFont,
		Helvetica Neue,
		PingFang SC,
		Hiragino Sans GB,
		Microsoft YaHei,
		Arial !important;
}

html {
	font-size: 12px;
	word-break: break-word;
	text-rendering: optimizeLegibility;
	color: #333;
}

body {
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: 0;
	padding: 0;
}
